body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Roboto';
    margin: 0;
}

.header, .top, .footer{
    background-color: #1F2937;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.title, .right-links{
    font-size: 18px;
    color: #F9FAF8;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
}

.footer{
    display: flex;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #E5E7EB;
    font-weight: 400;
}

.top{
    display: flex;
    min-height: 200px;
    justify-content: center;
}

.landscape{
    height: auto;
    width: 400px;
}

.left{
    min-width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.big-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
}